certifi==2023.7.22
charset-normalizer==3.2.0
contourpy==1.1.0
cycler==0.11.0
fonttools==4.42.1
idna==3.4
kiwisolver==1.4.5
matplotlib==3.8.0
numpy==1.25.2
packaging==23.1
Pillow==10.0.0
platformdirs==3.10.0
pooch==1.7.0
pyparsing==3.1.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
python-dateutil==2.8.2
pyvista==0.42.1
pyvistaqt==0.11.0
QtPy==2.4.0
requests==2.31.0
scooby==0.7.2
segyio==1.9.11
six==1.16.0
urllib3==2.0.4
vtk==9.2.6
